<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="conexion_db" connectionString="Data Source=AGUSTIN-PC;Initial Catalog=sistema_odontologia;User ID=SA;Password=4230153"
   providerName="System.Data.sqlClient" />
  <add name="CapaPresentación.Properties.Settings.sistema_odontologiaConnectionString"
   connectionString="Data Source=AGUSTIN-PC;Initial Catalog=sistema_odontologia;User ID=sa;Password=4230153"
   providerName="System.Data.SqlClient" />
  <add name="CapaPresentación.Properties.Settings.sistema_odontologiaConnectionString1"
   connectionString="Data Source=AGUSTIN-PC;Initial Catalog=sistema_odontologia;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>

